service/src/main/resources/pl/touk/smx4/paxexam/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
              xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://touk.pl/smx4/paxexam"
    name="TestingService"
    targetNamespace="http://touk.pl/smx4/paxexam">

    <types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:schema targetNamespace="http://touk.pl/smx4/paxexam">
            <xsd:element name="request" type="xsd:string"/>
            <xsd:element name="response" type="xsd:string"/>
        </xsd:schema>
    </types>

    <message name="TestRequest">
        <part element="tns:request" name="parameters" />
    </message>

    <message name="TestResponse">
        <part element="tns:response" name="parameters" />
    </message>

    <portType name="TestPort">
        <operation name="Test">
            <input message="tns:TestRequest" />
            <output message="tns:TestResponse" />
        </operation>
    </portType>
    
    <binding name="TestBinding" type="tns:TestPort">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="Test">
            <soap:operation/>
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    
    <service name="TestingService">
        <port binding="tns:TestBinding" name="TestingService">
            <soap:address location="http://localhost:8667/TestingService/"/>
        </port>
    </service>
</definitions>
